body {
  overflow-x: hidden;
  padding-bottom: 1rem;
  /* background-color: #bdbbbb; */
  font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    font-size: 52px;
}
h2{
    text-align: center;
    font-size: 36px;
}
h3{
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    font-size: 28px;
}
h4{
    text-align: center;
    font-size: 24px;
}
h5{
    text-align: center;
    font-size: 20px;
    /* 8 12 16 20 24 28 32 36 40 44*/
}
h6{
    text-align:left;
    font-size: 18px;
}

iframe#frame{
	width: 1200px;
	height: 1200px;
	border: none;
}

.bg-secondary {
    --bs-bg-opacity: 0.5;
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}

.checkbox {
 opacity: 0;
 position: absolute;
 display: none !important;
}

.checkbox-label {
 background-color: #111;
 width: 50px;
 height: 26px;
 border-radius: 50px;
 position: relative;
 padding: 5px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.fa-moon {color: #f1c40f;}
.fa-sun {color: #f39c12;}
.checkbox-label .ball {
 background-color: #fff;
 width: 22px;
 height: 22px;
 position: absolute;
 left: 2px;
 top: 2px;
 border-radius: 50%;
 transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
 transform: translateX(24px);
}

#checkbox {display: none;}